{% extends 'base.html' %}
{% block content%}

    <h1>About</h1>

    <div class="about">
        <h2>Inspiration</h2>
        <p>SignShow began as a final project for GirlBoss Edge: Tech for Good in 2024. The project was among the Top 30 Finalists of the programme. It remained as a simple wireframe until the creation of this website.</p>
        <p>The project requirements was centred around inclusivity and accessibility of technology for people with disabilities. It was originally a sign language translation and learning application with the added feature of gesture-based translation from the camera. SignShow has yet to implement this, but there are hopes in the future to do so.</p>
        <p>New Zealand Sign Language (NZSL) is one of New Zealand's official languages, and I believe it is important for us to acknowledge that. </p>

        <h2>Resources</h2>
        <p>This website uses resources and media from the</p><a href="https://www.nzsl.nz/">online NZSL dictionary.</a>
    </div>

{% endblock %}