{% extends "base.html" %}
{% from "card.html" import Card %}
{% block content %}

    {% if session['user'] %}
        <p class="welcome-msg">Welcome {{ session['user'][1] }}</p>
    {% endif %}

    <section class="hero">
        <h1>SignShow</h1>
        <div class="button">
            <button type="button" class="button">Get Started!</button>
        </div>
    <!-- info stuff -->
    </section class="info">
        <div class="container">
            <h2>Why SignShow?</h2>
            <div class="cards">
                {% for page in pages %}
                    {{ Card(page) }}
                {% endfor %}
            </div>  
        </div>
    </section>
    <section class="end">
        <h2>abc</h2>
    </section>

{% endblock %}