{% extends "base.html" %}
{% from "card.html" import Card %}
{% block content %}

    <section class="hero">
        <h1>SignShow</h1>
        <div class="button">
            <a href="/signup">Get Started!</a>
        </div>
    <!-- info stuff -->
    </section class="info">
        <div class="container">
            <h2>Why SignShow?</h2>
            <div class="cards">
                {% for page in pages %}
                    {{ Card(page) }}
                {% endfor %}
            </div>  
        </div>
    </section>
    <section class="end">
        <h2>abc</h2>
    </section>

{% endblock %}