<nav class="site-nav">
    <h1>SignShow</h1>
    <div class="nav-inner">
        <a href="/" class="nav-logo">
            <span class="logo-main">SignShow</span>
        </a>

        <ul class="nav-primary">
            <li><a href="#">Learn</a></li>
            <li><a href="#">this thing</a></li>
            <li><a href="#">other thing</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <div class="nav-actions">
            <a href="#" class="nav-login">Log In</a>
        </div>
    </div>
</nav>