{% extends 'base.html' %}
{% block content %}

<h1>What is this sign?</h1>

<video width="480" height="320" loop autoplay muted>
    <source src={{questions[2]}}>
    Your browser does not support the video tag.
</video>

<div>
    <button onclick="checkQuestion('fwjeiwfejo')"></button>
</div>

{% for each question in questions %}
    <button onclick="checkQuestion(question['text'])">{{question['text']}}</button>
    {% endfor %}

<!-- js stuff first, deal with this later -->
<!-- endpoint, marker point, compare vid with data from buttons, do this do that -->

{% endblock %}