{% extends 'base.html' %}
{% block content %}
<div class="signup">
    <h1>Sign Up</h1>
        <form action="/signup" method="post">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <p>Please ensure your password contains yada yada</p>
            <input type="password" name="password">
            <div class="submit">
            <a href="/learn">Register</a>
            </div>
            <div class="button">
            <a href="/login">I already have an account</a>
            </div>
        </form>
</div>
{% endblock %}